.nav{
 display:flex;
    justify-content: space-around;
    background-color: Beige;
    color: black;
    padding: 10px;
}
a {
    text-decoration: none;
    color: Cream;
}
@font-face {
  font-family: 'Frankie'; /* Choose a name for your font */
  src: url('./fonts/Frankie.otf') format('truetype'); /* Path to your .ttf file */
  font-weight: normal;
  font-style: normal;
}
h1{
    font-family: 'Frankie', sans-serif; /* Use the custom font */
margin: 0 auto;
color:beige;
}
.center {
display: flex;
  justify-content: center;
}
body {
background-image: url(./images/BooksBackground.avif);
  background-repeat: repeat-no-repeat;
  background-size: cover;
}
form{
  color:beige;
}
